



<h1 mat-dialog-title>Show Task Details </h1>
<div mat-dialog-content>
 

    <div class="row"> 
      <div class="col-md-3">title </div>
      <div class="col-md-9">{{title}} </div>
      <div class="col-md-3">status </div>
      <div class="col-md-9">{{status}} </div>
      <div class="col-md-3">created_at </div>
      <div class="col-md-9">{{created_at}} </div>
      <div class="col-md-3">description </div>
      <div class="col-md-9">{{description}} </div>

    </div>
  
</div>
<div class="float-right" mat-dialog-actions>
  <button mat-stroked-button [mat-dialog-close]="false" color="primary">Yes, Thanks</button>
</div>