<div>
  <div class="content-container">

    <h1 mat-dialog-title>Edit Task </h1>
    <div mat-dialog-content>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">task</label>
          <input type="text" [value]='title' id="title" formControlName="title" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
          <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f.title.errors.required">title is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">description</label>
          <input type="text" [value]='description' id="description" formControlName="description" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
          <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <div *ngIf="f.description.errors.required">description is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="status">status</label>
          <select formControlName="status" [value]='status' id="status" class="form-control">
            <option [value]='status'>Done</option>
            <option [value]='status'>Pending</option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="group">group</label>
          <select formControlName="group" [value]='group' id="group" class="form-control">

            <option value="B"> B</option>
            <option value="A">A</option>
          </select>
        </div>
        <!-- <div class="form-group">
          <label for="createdAt" >created_at</label>
          <input type="text" [value]='created_at' id="createdAt" formControlName="createdAt" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.createdAt.errors }" />
          <div *ngIf="submitted && f.createdAt.errors" class="invalid-feedback">
            <div *ngIf="f.createdAt.errors.required">createdAt is required</div>
          </div>
        </div> -->
        <div class="form-group">
          <mat-form-field>
            <input formControlName="createdAt" id="createdAt" class="form-control" matInput [matDatepicker]="picker"
              placeholder="Choose a date" [value]='created_at'>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group">
          <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
          <button mat-raised-button class="mx-2 mat-raised-button btn-primary" color="primary">Save</button> </div>
      </form>
    </div>


  </div>

</div>