﻿<!-- nav -->
<div class="container-fluid  my-3" *ngIf="currentUser">
    <div class="row">
        <div class="col-md-12">
            <div class="block mx-2">
                <div class="img-logo d-inline-block">
                    <img class="d-inline-block"  src="{{logo}}">

                </div>
                <a class="nav-item nav-link float-right" (click)="logout()"><strong>Logout</strong></a>
            </div>
           
        </div>
        
    </div>
</div>
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav> -->

<!-- main app container -->

                <alert></alert>
                <router-outlet></router-outlet>
           


<!-- credits -->
