<h1 mat-dialog-title>Add Task </h1>
<div mat-dialog-content>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">task</label>
      <input type="text" formControlName="title" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
      <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
        <div *ngIf="f.title.errors.required">title is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">description</label>
      <input type="text" formControlName="description" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
      <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
        <div *ngIf="f.description.errors.required">description is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="status">status</label>
      <select formControlName="status" class="form-control">
        <option value="Done">Done</option>
        <option value="Pending">Pending</option>
      </select>
    </div>
    <div class="form-group">
      <label for="group">group</label>
      <select formControlName="group" class="form-control">
        <option value="A">A</option>
        <option value="B"> B</option>
      </select>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input formControlName="createdAt" class="form-control" matInput [matDatepicker]="picker"
          placeholder="Choose a date" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-group float-right">

      <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button class="mx-2 mat-raised-button btn-primary" color="primary">Save</button>
    </div>
  </form>
</div>