﻿<div class="container-fluid  my-3">
  <div class="row">

    <div class="col-md-6">
      <div class="block mx-2">
        <h4 my-3>Group A</h4>
        <div class="tasks table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Date</th>
                <th>Status</th>
              </tr>
            </thead>

            <tbody *ngFor="let task of tasks ">

              <tr *ngIf="task.group=='A'">

                <td class="pointer"><span (click)="onEdit(task.id)">{{ task.id }}-{{ task.title }}</span></td>
                <td>
                  <button class="delete" mat-icon-button color="warn" (click)="onDelete(task.id)">
                    <mat-icon>delete_outline</mat-icon>
                  </button>
                  <button class="delete" mat-icon-button color="warn" (click)="onShow(task.id)">
                    <i class="material-icons">remove_red_eye</i>
                  </button>

                </td>
                <td class="pointer" (click)="onEdit(task.id)">{{ task.created_at }}</td>
                <td class="pointer" (click)="onEdit(task.id)">{{ task.status }}</td>

              </tr>

            </tbody>

          </table>

        </div>
        <div class="add-task">

          <button mat-raised-button (click)="onCreate()">
            <mat-icon aria-label=" icon-button with a heart icon"> add_circle_outline</mat-icon> New Task
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="block mx-2">
        <h4 my-3>Group A</h4>
        <div class="tasks table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Tasks</th>
                <th>.</th>
                <th>Date</th>
                <th>Status</th>
              </tr>
            </thead>

            <tbody *ngFor="let task of tasks">

              <tr *ngIf="task.group=='B'">

                <td class="pointer"><span (click)="onEdit(task.id)">{{ task.id }}-{{ task.title }}</span></td>
                <td>
                  <button class="delete" mat-icon-button color="warn" (click)="onDelete(task.id)">
                    <mat-icon>delete_outline</mat-icon>
                  </button>
                  <button class="delete" mat-icon-button color="warn" (click)="onShow(task.id)">
                    <i class="material-icons">remove_red_eye</i>
                  </button>

                </td>
                <td class="pointer" (click)="onEdit(task.id)">{{ task.created_at }}</td>
                <td class="pointer" (click)="onEdit(task.id)">{{ task.status }}</td>

              </tr>

            </tbody>

          </table>

        </div>
        <div class="add-task">
          <button mat-raised-button (click)="onCreate()">
            <mat-icon aria-label=" icon-button with a heart icon"> add_circle_outline</mat-icon> New Task
          </button>
        </div>
      </div>
    </div>


  </div>
</div>